
.arco-tabs-nav-tab>.arco-tabs-nav-tab-list
  display flex
  user-select none

.arco-tabs-nav-tab-list>.arco-tabs-tab, .arco-tabs-nav-tab-list .arco-tabs-tab>.arco-tabs-tab-title
  flex-direction row
  display inline-flex
  align-items center
  justify-content center
