.b05
  position relative

.b05::after
  content ''
  position absolute
  width 200%
  height 200%
  top 0
  left 0
  transform-origin 0 0
  border-width 1px
  border-style solid
  transform scale(0.5, 0.5)
  border-radius 1px
  box-sizing border-box
  pointer-events none
